version: "3.3"

services:
  map:
    build:
      context: ./map
      dockerfile: Dockerfile
    image: velo-map
    container_name: container-velo-map
    ports:
      - "5000:5000"
    networks:
    - velo-network

  profile:
    build:
      context: ./profile
      dockerfile: Dockerfile
    image: velo-profile
    container_name: container-velo-profile
    ports:
      - "5001:5001"
    networks:
      - velo-network

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    image: velo-front
    container_name: container-velo-front
    ports:
      - "80:80"
    networks:
      - velo-network

networks:
  velo-network:
    driver: bridge
    